.game-start-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.game-input-container{
  padding: 40px;
  border: 2px solid;
  border-radius: 8px;
}

.board-body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  margin-top: 28px;
}

.board-game{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 500px;
}

.hard-board {
  width: 800px;
}

.board-header, .levels{
  display: flex;
  justify-content: space-between;
  padding: 0 4%;
}

.board-heading{
  font-size: 30px;
  margin: 5px 0;
      
}

.score {
  font-size: 20px;
}

.levels{
  margin: 20px 0;
}

form{
  display: flex;
  align-items: center;
  justify-content: center;
}

.game-input-container form {
  margin-top: 40px;
}

form input{
   margin-right: 12px;
    width: 100px;
    height: 25px;
}

form input[type="text"]{
  width: 200px;
}

form label{
  margin-right: 12px;
  font-size: 18px;
}

.btn {
  display: inline-block;
  padding: 0.50em 1.5em;
  border: 0.1em solid #FFFFFF;
  margin: auto 1px;
  border-radius: 0.5em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto',sans-serif;
  font-weight: 300;
  color: #FFFFFF;
  text-align: center;
  transition: all 0.2s;
  background: transparent;
  font-size: 16px;
  cursor: pointer;
}

.btn:hover{
  color:#282c34;
  background-color:#FFFFFF;
  }

  .btn:disabled {
    cursor: not-allowed;
  }


/* flip card */

.flip-card {
  background-color: transparent;
  width: 100px;
  height: 100px;
  perspective: 1000px;
  margin: 10px;
  cursor: pointer;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.2s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  -webkit-transition: transform 0.2s;
  -moz-transition: transform 0.2s;
  -ms-transition: transform 0.2s;
  -o-transition: transform 0.2s;
}

.flip {
  transform: rotateY(180deg);
}
.no-flip {
  transform: rotateY(0deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-front img{
  width: 100%;
  height: 100%;
}

.flip-card-back {
    background-color: #282c34;
    color: white;
    transform: rotateY(180deg);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid;
}

.flip-card-back h1{
font-size: 60px;
  
}
.winnerContainer {
  display: flex;
  flex-direction: column;
}

.winnerContainer button{
  margin: 20px auto;
}

.winnerGif{
  pointer-events: none;
  width: 480px;
  height: 480px;
  border: none;
  display: block;
}


@media screen and (max-width: 1199px) {
  .board-game{
    width: 60%;
  }

  .board-body{
    height: fit-content;
  }
}
@media screen and (max-width: 796px) {
  .board-game{
    width: 80%;
  }
}
@media screen and (max-width: 600px) {
  .board-game{
    width: 100%;
  }
}